.main_writeform {
    max-width: 900px;
    width: 100%;
    min-height : 500px;
    margin: 0 auto;
    height : 500px;
    font-weight: bold;
}
.main_writeform p {
    font-size : 25px;
    margin : 20px 0 10px 20px;
    width : 100%;
}
._ {
    width : 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(233,233,233);
}
.write_main {
    width : 100%;
    height : 500px;
    margin : 0 auto;
    margin-top: 30px;
    text-align: center;
}
.name_start {
    box-sizing: border-box;
    padding-top : 20px;
}
.name_start input {
    background-color : whitesmoke;
    border : none;
    width : 32%;
    height : 40px;
    border-radius: 8px !important;
    margin-left : 20px;
    margin-top : 20px;
} 
.name_start input:focus {
    outline: 2px solid cadetblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.name_start label {
    padding: 0 5px;
    padding-top: 30px;
    font-weight: bold;
}
.id {
    box-sizing: border-box;
    padding : 6px 14px;
    height : 30px;
    margin : 25px;
    margin-left : 20px;
}
.id input {
    background-color : whitesmoke;
    border : none;
    padding : 6px 14px;
    border : none;
    width : 33%;
    height : 30px;
    border-radius: 8px !important;
    margin-left : 20px;
}
.id input:focus {
    outline: 2px solid cadetblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.id label {
    padding-top: 8px;
    font-weight: bold;
}
.pwd {
    box-sizing: border-box;
    padding : 6px 14px;
    height : 30px;
    margin : 10px;
    padding-top : 20px;
    margin-left : -7px;
}
.pwd input {
    background-color : whitesmoke;
    padding : 6px 14px;
    border : none;
    width : 31%;
    height : 30px;
    margin-left : 20px;
    border-radius: 8px !important;
}
.pwd input:focus {
    outline: 2px solid cadetblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.pwd_re {
    box-sizing: border-box;
    padding : 6px 14px;
    height : 30px;
    margin : 10px;
    padding-top : 50px;
    margin-left : -40px;
}
.pwd_re input {
    background-color : whitesmoke;
    padding : 6px 14px;
    border : none;
    width : 30%;
    height : 30px;
    margin-left : 20px;
    border-radius: 8px !important;
}
.pwd_re input:focus {
    outline: 2px solid cadetblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.phone {
    box-sizing: border-box;
    padding-top : 55px;
    margin-left : -80px;
}
.phone input {
    background-color : whitesmoke;
    border : none;
    width : 29%;
    height : 40px;
    border-radius: 8px !important;
    margin-left : 20px;
}
.phone input:focus {
    outline: 2px solid cadetblue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.label_phone {
    margin-left : 30px;
}
.buttons {
    width : 230px;
    height : 40px;
    margin : 0 auto;
    text-align: center;
}
.buttons button {
    width : 80px;
    height : 35px;
    margin : 10px;
    border : 0;
    border-radius: 8px !important;
    cursor: pointer;
    font-weight: bold;
    margin-top : 50px;
    transition: 0.3s;
}
.buttons button:hover {
    background-color : cadetblue;
    color : white;
}
.check {
    display:  inline-block;
    color: red;
    font-size: 14px;
}
@media (max-width: 765px) {
    ._ {
        width : 100%;
    }
    .write_main {
        width : 100%;
        margin: 0 auto;
        margin-top: 0px;
        height: 485px;
    }
    .name_start {
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 400px) {
    .write_main {
        width : 100%;
        margin-top : 15px;
        height : 100%;
    }
    .name_start {
        width : 100%;
        padding-top : 10px;
        height: 90px;
    }
    .name_start label {
        font-size: 13px;
        padding : 0;
        margin-right: 500px;
    }
    .name_start input {
        display: block;
        width : 30%;
        height : 29px;
        margin-left: 80px;
        margin-top : 10px;
    }
    .id {
        margin : 0 auto;
        width : 100%;
    }
    .id label {
        font-size: 13px;
        padding : 0;
        margin-right: 490px;
    }
    .id input{
        display: block;
        width : 29%;
        height : 20px;
        margin-left: 67px;
        margin-top : 10px;
    }
    .pwd {
        width : 100%;
        margin-top: 40px;
    }
    .pwd label {
        font-size: 13px;
        margin-right: 460px;
    }
    .pwd input {
        width : 60%;
        display: block;
        height : 20px;
        width : 29%;
        margin-left: 75px;
        margin-top : 10px;
    }
    .pwd_re {
        width : 100%;
        margin-top: 30px;
    }
    .pwd_re label {
        font-size: 13px;
        margin-right: 360px;
    }
    .pwd_re input {
        display: block;
        width : 29%;
        height : 20px;
        margin-left: 110px;
        margin-top : 10px;
    }
    .phone {
        width : 100%;
        margin-top: 30px;
    }    
    .phone label {
        font-size: 13px;
        margin-right: 310px;
    }    
    .phone input {
        display: block;
        width : 30%;
        height : 29px;
        margin-left: 168px;
        margin-top : 10px;
    }  
    .buttons {
        width : 60%;
        height : 30px;
        margin-left : -15px;
    }
    .buttons button {
        width : 70px;
        height : 29px;
        margin-top : 15px;
        margin-bottom : 32px;
        font-size: 13px;
        text-align: center;
    }  
}